  /* BREAKPOINTS SETTINGS
 ----------------------------------------------------------------------------------
 - comments
 ---------------------------------------------------------------------------------- */
$sm-breakpoint: 800px;
$md-breakpoint: 1100px;
$lg-breakpoint: 1300px;


$phone:        400px  !default;
$phone-wide:   480px  !default;
$phablet:      560px  !default;
$tablet-small: 640px  !default;
$tablet:       768px  !default;
$tablet-wide:  1024px !default;
$desktop:      1248px !default;
$desktop-wide: 1440px !default;