/* Layout
 ----------------------------------------------------------------------------------
 ---------------------------------------------------------------------------------- */
$max-width: em(1088);
$max-height: 850px;

/* BREAKPOINTS SETTINGS
 ----------------------------------------------------------------------------------
 - comments
 ---------------------------------------------------------------------------------- */
$sm-breakpoint: 800px;
$md-breakpoint: 1100px;
$lg-breakpoint: 1300px;

/* VERTICAL SPACING
 ----------------------------------------------------------------------------------
 - comments
 ---------------------------------------------------------------------------------- */
$base-line-height: 1.6;
$header-line-height: 1.25;
$base-spacing: $base-line-height * 1em;
$base-padding: 1.5rem;
$wrap-padding: 1.5rem;

/* SPACING
 ----------------------------------------------------------------------------------
 - comments
 ---------------------------------------------------------------------------------- */
$base-gutter: 2.5rem !default;
$base-spacing: 1.5rem !default;
$half-spacing: $base-spacing / 2 !default;
$base-line-height: 1.5em !default;

/* Theme Colors
 ----------------------------------------------------------------------------------
 ---------------------------------------------------------------------------------- */
$primary-color: #6da6a0;
$primary-color-medium: darken($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 25%) !default;

$secondary-color: #ffcc2f;
$secondary-color-medium: darken($secondary-color, 15%) !default;
$secondary-color-dark: darken($secondary-color, 15%) !default;

$background-color: $subtle-gray !default;

/* FONT SETTINGS
 ----------------------------------------------------------------------------------
	- default body text  'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
	- subtitle h2 text   'Rubik', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
	- form input text    'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
	- default p text     'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
	- pre and code       Consolas, Lucida Console, Monaco, monospace
 ---------------------------------------------------------------------------------- */
$sans-serif: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$sans-serif-2: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$serif: 'Palatino Linotype', 'Book Book Antiqua', 'Palatino', serif;

$base-font-family: $sans-serif;
$header-font-family: $sans-serif-2;

/* Font Colors */
$base-font-color: $twilight;
// $base-link-color: $action-color;
// $base-accent-color: $action-color;

$text-color: $charcoal !default; // Redundant
$text-description-color: #555555 !default; // Redundant

$heading-font-color: #999;

$paragraph-font-color: $twilight;

/* Links */
$action-color: #5689b2;
$action-color--hover: $primary-color-medium;
$action-color--focus: $primary-color-medium;
$action-color--active: $primary-color-dark;

// Font Sizes
$base-font-size: 16px;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// H1
$h1-font-family: $sans-serif !default;
$h1-font-weight: 600 !default;
$h1-font-color: $text-color !default;
$h1-font-line-height: initial !default;
$h1-font-margin-bottom: 0.6em !default;

// H2
$h2-font-family: $sans-serif !default;
$h2-font-weight: 600 !default;
$h2-font-color: $text-color !default;
$h2-font-line-height: 1.4em !default;
$h2-font-margin-bottom: 1.2em !default;

// H3
$h3-font-family: $sans-serif !default;
$h3-font-weight: 600 !default;
$h3-font-color: $text-color !default;
$h3-font-line-height: 1.4em !default;
$h3-font-margin-bottom: 0.5em !default;

// Selection
$selection-background: $robot-salmon;
$selection-color: $white;

/* Buttons
 ----------------------------------------------------------------------------------
 ---------------------------------------------------------------------------------- */
// $button-padding-default: 9px 24px 10px 24px;
// $button-padding-small: 4px 24px;
$button-background-color: $red-eye;
$button-background-color--hover: linear-gradient(
	to bottom,
	$subtle-gray,
	$white
) !default;
$button-background-color--focus: linear-gradient(
	to bottom,
	$subtle-gray,
	$white
) !default;
// -webkit-linear-gradient(top, $subtle-gray, $white)
$button-background-color--active: $light-gray !default;
$button-border-color: $medium-gray !default;

// Primary Buttons
$button-primary-background-color: $action-color !default;
$button-primary-background-color--hover: $action-color--hover !default;
$button-primary-background-color--focus: $action-color--focus !default;
$button-primary-background-color--active: $action-color--active !default;

/* Status Messages
 ----------------------------------------------------------------------------------
 - comments
 ---------------------------------------------------------------------------------- */

/* Status Colors */
$messages--status: $primary-color;
$messages--warning: $gold;
$messages--error: $red-eye;

$z-indexes: ('top', 'modal', 'overlay', 'header', 'page', 'back');

/* DIVIDERS AND LINES
 ----------------------------------------------------------------------------------
 - comments
 ---------------------------------------------------------------------------------- */
$base-border-color: $medium-gray;
$base-border: 1px solid $base-border-color;
$form-border: $base-border;
$line-color: $medium-gray !default;
$base-border: 1px solid $line-color !default;
$base-corner-radius: 4px !default;
$base-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1) !default;

$primary-color: #eb2088;
$secondary-color: #ffcc2f;
$off-white-color: #f4f4f4;
$grey-color: #cdcdcd;

$panel-odd-color: $off-white-color;
$panel-even-color: white;

$button-edge: shade($primary-color, 50%);
$wrap-padding: 6em;

$small: 640px;
$medium: 769px;
$large: 1024px;

$nav-bg-color: $primary-color;

$border-radius: 2px;
