/*
  Panel

	Container with a fixed height, kind of like a slide

*/

$max-height: 850px !default;

@mixin panelize($local-max-height: $max-height) {
	width: 100%;
	height: 100vh;
	max-height: $local-max-height;
}
