/*
 Zebra Striping
 Keep?
*/

$stripe-even-color: white !default;
$stripe-odd-color: #f4f4f4 !default;

@mixin stripe($color1: $stripe-even-color, $color2: $stripe-odd-color) {
	background-color: $color1;

	&:nth-of-type(odd) {
		background-color: $color2;
	}
}
